.home_card {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: calc(100vh - 175px);
  column-gap: 2%;
}

.developer_short_detail {
  width: 29%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.developer_short_detail h1 {
  font-size: 45px;
}

.developer_short_detail h2 {
  font-size: 30px;
}

.developer_image {
  width: 19%;
  background: linear-gradient(#9ca1bd, #1ce6b3);
  border-radius: 50%;
  height: 42vh;
  margin-right: 0;
  margin-top: 2%;
  box-shadow: 15px 23px 14px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 23px 14px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 23px 14px -16px rgba(0, 0, 0, 0.75);
}

.developer_image img {
  width: 93.6%;
  margin-left: 3%;
  border-radius: 90%;
  height: 41vh;
  background: linear-gradient(#9ca1bd, #1ce6b3);
}

.hand_wave {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.developer_name {
  background: linear-gradient(#9ca1bd, #1ce6b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.developers_bio {
  display: flex;
  column-gap: 3%;
  margin-left: 5%;
  margin-top: 4%;
  align-items: baseline;
  transform: scale(1);
  transition: all 0.25s ease;
}

.developers_bio p {
  font-size: 24px;
}

.developers_bio:hover {
  transform: scale(1.03);
}

.toggleWhite,
.toggleDark {
  font-size: 25px;
  cursor: pointer;
  transform: scale(1);
}

.toggleWhite {
  background-color: #1f1f1f;
  color: #fff;
  transition: all 400ms;
}

.toggleWhite:hover,
.toggleDark:hover {
  transform: translateY(-3px);
  transition: all 0.25s ease;
}

.developers_socials {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-top: 5%;
  margin-left: 12%;
}

.developers_socials h3 {
  font-size: 25px;
  cursor: pointer;
}

.developers_socials h3:hover {
  background: #1f1f1f;
}

@media screen and (max-width: 768px) {
  .home_card {
    display: flex;
    flex-direction: column;
  }

  .developer_image {
    width: 50%;
    height: 32vh;
  }

  .developer_image img {
    height: 31vh;
  }

  .developer_short_detail {
    width: 55%;
  }

  .developer_short_detail h1 {
    font-size: 25px;
  }

  .developer_short_detail h2 {
    font-size: 16px;
  }

  .developers_socials {
    gap: 20%;
    margin-left: 16%;
  }
}
